@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.text-glow-mdDark {
  text-shadow: rgb(0, 0, 0) 0px 0 10px;
}

.text-glow-lgDark {
  text-shadow: rgb(0, 0, 0) 0px 0 20px;
}
