@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", "sans-serif";
  /* font-family: ""Open Sans""; */
  font-weight: "200";
}

.font-default {
  font-family: "Open Sans", "sans-serif";
}

.font-fancy,
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "sans-serif";
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-glow-mdDark {
  text-shadow: rgb(0, 0, 0) 0px 0 10px;
}

.text-glow-lgDark {
  text-shadow: rgb(0, 0, 0) 0px 0 20px;
}

.page-shadow {
	box-shadow: 0px 0px 30px hsl(220, 5%, 0%)
}