@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Montserrat", "sans-serif";
  font-size: 15px;
}

#__next {
	width: 100%;
}

/* html, body, #__next {
	overflow-x: hidden;
} */

:root {
	--scrollbar-dark: #ffffff;
	--scrollbar-light: #484848;
}


/* These two classes should be considered deprecated and should not be used */
.font-default {
  /* font-family: "Open Sans", "sans-serif"; */
  font-family: "Montserrat", "sans-serif";
}

.font-fancy,
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "sans-serif";
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dark .page-shadow {
	box-shadow: 0px 0px 30px hsla(220, 5%, 0%, 1)
}


.light .page-shadow {
	box-shadow: 0px 0px 30px hsla(220, 5%, 89%, 0.4)
}

.dark .landing-page-bg {
	background: radial-gradient(ellipse 80% 70% at 50% -10%, rgba(36, 36, 46, 0.5), transparent)
}

.landing-page-bg > * {
	z-index: 1;
}

.landing-page-bg:before {
	--page-edge: calc(100vw / 10);
	content: "";
    position: absolute;
    opacity: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 48px);
    height: 100vh;
    filter: blur(120px);
	z-index: 0;
	background: radial-gradient( 400px circle at calc(100% - var(--page-edge) - 10%) 45%, var(--color-a), 70%, transparent ), radial-gradient(400px circle at 50% 50%,var(--color-b),60%,transparent), radial-gradient(350px circle at calc(var(--page-edge) + 15%) 40%,var(--color-c),60%,transparent)
}

.light .landing-page-bg:before {
	--color-a: #db8585;
    --color-b: #8dbfed;
    --color-c: #c65df7;
	opacity: 0.4;
}

.dark .landing-page-bg:before {
	--color-a: #8599db;
    --color-b: #dd8ded;
    --color-c: #f75dc4;
	opacity: 0.17;
}

.radio-dropdown {
	box-shadow: 0px 0px 30px hsla(220, 5%, 0%, 1)
}

/* Note: the classes below are not supported in firefox */
html.dark, html.dark > body {
	color-scheme: dark;
	background: #090a0c;
}

::-webkit-scrollbar-thumb {
	background: #333333;
}

::-webkit-scrollbar {
	width: 14px;
	height: 0px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-clip: padding-box;
	border: 5px solid rgba(0, 0, 0, 0);
	border-width: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 9999px;
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
